.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Items {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ul {
  width: 600px;
  margin: auto;
}
.text {
  font-weight: 500;
  font-size: 18px;
}
